{% extends 'base.html' %}
{% load static %}



{% block content %}

{% include 'navigation.html' %}
<!--  page banner -->
  <header id="page-banner" class="banner-main-block">
    <div class="banner-img" style="background-image: url('images/top-banner.jpg')">       
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="banner-block">
          <h3 class="section-heading">Donation Detail</h3>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a>Donation Details</a></li>
          </ol>
        </div>
      </div>     
    </div>
  </header>
<!--  end page banner -->
<!--  donation details -->
  <section id="donation-dtl-block" class="donation-dtl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
          <div class="donation-dtl-blockOne">
            <div class="donation-dtl-img">
              <img src="{% static 'images/gallery/project.jpg' %}" class="img-responsive" width=1100 height=500 alt="donation-dtl-1">
            </div>
            <div class="price-filter">
              <div class="price-slider-amount">
                <span>Raised</span><input type="text" id="amount" name="price" placeholder="Add Your Price">
              </div>
              <div id="slider-range" class=" ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all slider-range">
                <div class="ui-slider-range ui-widget-header ui-corner-all">
                </div>
                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
              </div>            
            </div>
            <button type="button" class="btn btn-default donation-dtl-block-btn" data-toggle="modal" data-target="#donationModal">Donate</button>
          </div> 
          <div class="donation-modal-block"> 
            <div id="donationModal" class="modal fade donation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalHeading" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="myModalHeading" class="myModalHeading">Donor Information</h4>
                    <h6 id="myModalSubHeading" class="myModalSubHeading"></h6>
                  </div>
                  <div class="modal-body">
                    <form class="contact-form form-main-block" method="post" action="http://wporganic.com/html/church/version1/contact-us.php">
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                        </div>
                      </div>
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="number" name="number" placeholder="Phone" required>
                        </div>
                      </div>
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="employer" name="employer" placeholder="Employer">
                        </div>
                      </div>
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Occupation">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                      </div>
                      <div class="col-sm-12">          
                        <div class="form-group">           
                          <textarea id="address" class="form-control" name="address" placeholder="Address"></textarea>
                        </div>
                      </div>
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="city" name="city" placeholder="City" >
                        </div>
                      </div>
                      <div class="col-sm-4">          
                        <div class="form-group">
                          <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                        </div>
                      </div>                    
                    </form> 
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Donate</button>
                  </div>
                </div>
              </div>
            </div>      
          </div>    
          <div class="donation-dtl-blockTwo">
            <h4 class="donation-heading">IMAC School Project</h4>
            <p>In the heart of Cameroon, the wheels of progress are turning as construction for an iMac school project is underway. The bustling activity signals a commitment to advancing education, recognizing it as the key catalyst for development in the region.

              This initiative reflects a broader acknowledgment that empowering individuals through quality education is integral to shaping a brighter future. The introduction of iMac technology into the learning environment not only embraces innovation but also equips students with tools essential for the digital age.
              
              As the construction gains momentum, it serves as a symbol of hope and progress for the community. The project resonates with the belief that investing in education paves the way for socio-economic development, unlocking potential and opportunities for generations to come.
              
              The synergy between technology and education is evident in this endeavor, echoing the sentiment that a well-rounded education is the cornerstone of societal advancement. As the iMac school project takes shape, it becomes a beacon illuminating the path towards a more prosperous and knowledgeable community in Cameroon. The unfolding story of this construction project is a testament to the transformative power of education as the key to unlocking development.</p>
        
            <p class="social-media-heading">Share Post :</p>
            <div class="social-icon">
              <ul>
                <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://dribbble.com/" target="_blank" class="dribble"><i class="fa fa-dribbble"></i></a></li>                    
                <li><a href="https://www.behance.net/" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
<!--  end donation details --> 
<!--  donation -->
  {% comment %} <section id="donation" class="donation-main-block donation-three">
    <div class="section text-center">
      <h3 class="section-heading">Related Donation Required</h3>
      <h5 class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at euismod ex, Maeceans sit amet sollicitudin ex.</h5>
    </div>  
    <div class="donation-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="donation-item">
              <div class="donation-img">
                <img src="images/donation/donation-07.jpg" class="img-responsive" alt="donation-img-7">
                <span class="donation-btn"><a href="donation-details.html" class="btn btn-default">Donate</a></span>
              </div>
              <div class="donation-content">
                <p class="social-media-heading">Share Post :</p>
                 <div class="social-icon">
                  <ul>
                    <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://dribbble.com/" target="_blank" class="dribble"><i class="fa fa-dribbble"></i></a></li>                    
                    <li><a href="https://www.behance.net/" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
                <a href="#"><h4 class="donation-heading">Lorem ipsum dolor sit amet.</h4></a>
                <p class="donation-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
                <a class="read-more" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="donation-item">            
              <div class="donation-img">
                <img src="images/donation/donation-08.jpg" class="img-responsive" alt="donation-img-8">
                <span class="donation-btn"><a href="donation-details.html" class="btn btn-default">Donate</a></span>
              </div>
              <div class="donation-content">
                <p class="social-media-heading">Share Post :</p>
                <div class="social-icon">
                  <ul>
                    <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://dribbble.com/" target="_blank" class="dribble"><i class="fa fa-dribbble"></i></a></li>                    
                    <li><a href="https://www.behance.net/" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
                <a href="#"><h4 class="donation-heading">Lorem ipsum dolor sit amet.</h4></a>
                <p class="donation-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
                <a class="read-more" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 donation-top-mgn">
            <div class="donation-item">              
              <div class="donation-img">
                <img src="images/donation/donation-09.jpg" class="img-responsive" alt="donation-img-9">
                <span class="donation-btn"><a href="donation-details.html" class="btn btn-default">Donate</a></span>
              </div>
              <div class="donation-content">
                <p class="social-media-heading">Share Post :</p>
                 <div class="social-icon">
                  <ul>
                    <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://dribbble.com/" target="_blank" class="dribble"><i class="fa fa-dribbble"></i></a></li>                    
                    <li><a href="https://www.behance.net/" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
                <a href="#"><h4 class="donation-heading">Lorem ipsum dolor sit amet.</h4></a>
                <p class="donation-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
                <a class="read-more" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
<!--  end donation -->

<!--  donation background -->
<section id="donation-footer" class="donation-footer-block">
  <div class="donation-bg-itemTwo">
    <div class="bg-img" style="background-image: url('{% static 'images/donation/donation-bg-02.jpg' %}')">
      <div class="overlay-bg"></div>
        <div class="container-fluid">
        <div class="row">
          <div class="col-lg-offset-5 col-lg-5 col-md-offset-5 col-md-5 col-sm-12 col-xs-12">
            <div class="donation-content">
              <a href="donation-details.html"><h2 class="donation-heading">Generosity is the heart's response to God's grace, and giving to the church is a sacred act of worship that echoes the generosity of the Divine</h2></a>
              <h5 class="donation-dtl">.</h5>
              {% comment %} <span class="donation-dtl-btn"><a href="donation-details.html" class="btn btn-default">Donate</a></span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end donation background -->
{% include 'footer.html' %}

{% endblock %}