{% extends 'base.html' %}
{% load static %}



{% block content %}

{% include 'navigation.html' %}

<!--  page banner -->
  <header id="page-banner" class="banner-main-block">
    <div class="banner-img" style="background-image: url('{% static 'images/top-banner.jpg' %}')">       
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="banner-block">
          <h3 class="section-heading">IMAC Gallery</h3>
         
        </div>
      </div>     
    </div>
  </header>
<!--  end page banner  -->
<!-- gallery -->
  <section id="portfolio" class="portfolio-main-block portfolio-three">
    <div class="container-fluid">
      <div class="section text-center">
        <h3 class="section-heading">Our Gallery</h3>
        <h5 class="sub-heading"></h5>
      </div>
    </div>
    <div class="portfolio-content">
      <div class="container">
        <div class="row">
          <div class="portfolio-block portfolio-popup">
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about12.jpg' %}" class="img-responsive" alt="portfolio-img-1">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about12.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about14.jpg' %}" class="img-responsive" alt="portfolio-img-2">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about14.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 hidden-sm portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about11.jpg' %}" class="img-responsive" alt="portfolio-img-3">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about11.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>        
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about16.jpg' %}" class="img-responsive" alt="portfolio-img-4">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about16.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about17.jpg' %}" class="img-responsive" alt="portfolio-img-5">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about17.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 hidden-sm portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about7.jpg' %}" class="img-responsive" alt="portfolio-img-6">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about7.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about15.jpg' %}" class="img-responsive" alt="portfolio-img-7">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about15.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about18.jpg' %}" class="img-responsive" alt="portfolio-img-8">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about18.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 hidden-sm portfolio-item portfolio-btm-mrgn">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about6.jpg' %}" class="img-responsive" alt="portfolio-img-9">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about6.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>         
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about2.jpg' %}" class="img-responsive" alt="portfolio-img-10">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about2.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-img">      
                <img src="{% static 'images/gallery/about1.jpg' %}" class="img-responsive" alt="portfolio-img-11">
                <div class="portfolio-overlay"><a href="{% static 'images/gallery/about1.jpg' %}"><i class="fa fa-plus"></i></a></div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="row">     
          <div class="col-md-12 load-more text-center">
            <span class="load-more-btn"><a href="#" class="btn btn-default">View More</a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  end gallery -->

{% include 'footer.html' %}

{% endblock %}