{% load static %}

<!--  slider -->
<header id="home-slider" class="slider-main-block">
    <div class="item home-slider-img" style="background-image: url('{% static 'images/slider-01.jpg' %}')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="slider-dtl">
          <h1 class="slider-heading">We Love God and <br>We Believe in God</h1>
          <h5 class="slider-subheading">There is no other way except Jesus.</h5>
          {% comment %} <div class="slider-countdown">
            <div class="coming-countdown" data-countdown="2017/4/30"></div>
          </div> {% endcomment %}
        </div>
      </div>     
    </div>
    <div class="item home-slider-img" style="background-image: url('{% static 'images/slider-02.jpg' %}')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="slider-dtl">
          <h1 class="slider-heading">Where People Gather To <br> Worship and Praise God</h1>
          <h5 class="slider-subheading">Living Hope for Everyone. </h5>
          {% comment %} <div class="slider-countdown">
            <div class="coming-countdown" data-countdown="2017/4/30"></div>
          </div> {% endcomment %}
        </div>
      </div>     
    </div>
    <div class="item home-slider-img" style="background-image: url('{% static 'images/slider-03.jpg' %}')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="slider-dtl">
          <h1 class="slider-heading">We build Hope and <br> Grow Together</h1>
          <h5 class="slider-subheading">Building Holy and Healthy Lives.</h5>
          
        </div>
      </div>     
    </div>
  </header>
<!--  end slider -->